body{
    background-image: linear-gradient(pink, purple);
    min-height: 100vh;
}

.add_todo{
    justify-content: center;
}
.add_todo form select{
    transition: all 2s;
}
.btn-completed, .delete{
    border: none;
    background-color: initial;
    color: #e50831;
    transition: all 2s;
}

.fa-check{
    color: #38ce1d;
}
.fa-xmark{
    color: #e50831;
}
.line_through{
    text-decoration: line-through;
}
.description{
    transition: all 0.4s;
}
.des-input{
    margin: 0;
    padding: 0;
    transition: all 0.4s;
    background-color: inherit;
    border: none;
}
.des-input:focus{
    outline: none;
}
.des-input:hover{
    font-size: 1.1em;
}